{
    "name" : "YOUR NAME",
    "email-address" : "YOUR NAME <your.name@canonical.com>",
    "irc-aliases" : {
        "bjf"       : "Brad Figg <brad.figg@canonical.com>",
	"smb"       : "Stefan Bader <stefan.bader@canonical.com>",
	"apw"       : "Andy Whitcroft <andy.whitcroft@canonical.com>",
	"rtg"       : "Tim Gardner <tim.gardner@canonical.com>",
	"manjo"     : "Manoj Iyer <manoj.iyer@canonical.com>",
	"jj"        : "John Johansen <john.johansen@canonical.com>",
	"ogasawara" : "Leann Ogasawara <leann.ogasawara@canonical.com>",
	"cking"     : "Colin King <colin.king@canonical.com>",
	"ikepanhc"  : "Ike Panhc <ike.pan@canonical.com>",
	"acelan"    : "Chia-Lin Kao <acelan.kao@canonical.com>",
	"kamal"     : "Kamal Mostafa <kamal@canonical.com>",
	"diwic"     : "David Henningsson <david.henningsson@canonical.com>",
	"pgraner"   : "Pete Graner <pgraner@canonical.com>",
	"sforshee"  : "Seth Forshee <seth.forshee@canonical.com>",
	"ppisati"   : "Paolo Pisati <paolo.pisati@canonical.com>",
	"henrix"    : "Luis Henriques <luis.henriques@canonical.com>",
	"jsalisbury" : "Joseph Salisbury <joseph.salisbury@canonical.com>",
	"arges"     : "Chris J Arges <chris.j.arges@canonical.com>"
    }
}
