{
    "name" : "YOUR NAME HERE",
    "email-address" : "YOUR NAME HERE <YOUR.EMAIL.HERE@canonical.com>",
    "irc-aliases" : {
	"bjf"       : "Brad Figg <brad.figg@canonical.com>",
	"smb"       : "Stefan Bader <stefan.bader@canonical.com>",
	"apw"       : "Andy Whitcroft <andy.whitcroft@canonical.com>",
	"rtg"       : "Tim Gardner <tim.gardner@canonical.com>",
	"jj"        : "John Johansen <john.johansen@canonical.com>",
	"cking"     : "Colin King <colin.king@canonical.com>",
	"ikepanhc"  : "Ike Panhc <ike.pan@canonical.com>",
	"acelan"    : "Chia-Lin Kao <acelan.kao@canonical.com>",
	"aaronma"   : "Aaron Ma <aaron.ma@canonical.com>",
	"taalton"   : "Timo Aaltonen <tjaalton@ubuntu.com>",
	"kamal"     : "Kamal Mostafa <kamal@canonical.com>",
	"sforshee"  : "Seth Forshee <seth.forshee@canonical.com>",
	"ppisati"   : "Paolo Pisati <paolo.pisati@canonical.com>",
	"mhcerri"   : "Marcelo Cerri <marcelo.cerri@canonical.com>",
	"cascardo"  : "Thadeu Lima de Souza Cascardo <cascardo@canonical.com>",
	"klebers"   : "Kleber Sacilotto de Souza <kleber.souza@canonical.com>",
	"PHLin"     : "Po-Hsu Lin (Sam) <po-hsu.lin@canonical.com>",
	"juergh"    : "Juerg Haefliger <juerg.haefliger@canonical.com>",
	"kmously"   : "Khaled Elmously <khalid.elmously@canonical.com>",
	"arighi"    : "Andrea Righi <andrea.righi@canonical.com>",
	"kelsey"    : "Kelsey Skunberg <kelsey.skunberg@canonical.com>",
	"ianmay"    : "Ian May <ian.may@canonical.com>",
	"krzk"      : "Krzysztof Kozlowski <krzysztof.kozlowski@canonical.com>",
	"gpiccoli"  : "Guilherme Piccoli <gpiccoli@canonical.com>"
    }
}
