{
    "template" : "web/templates/kernel-stable-dashboard.mako",
    "title"    : "Kernel Stable Team Dashboard",
    "data"     : {
        "swm": "SwmStatus",
        "sru-cycle": "SruCycle",
        "releases" : "all-releases.json",
        "testing": "testing.json"
    }
}
